/* 1. Reset, tło, zmienne */

:root {
    --red-light: rgba(211, 110, 110, 0.3);
    --red: red;
    --skin: #f6cfbc;
    --beard: #fff;
    --black: #000;
    --white: #fff;
    --nose: #ff9d76;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--red-light);
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

/* 1. Reset, tło, zmienne */

/* 2/ Głowa */

.santa {
    margin-top: 20vh;
    height: 20vh;
    width: 30vh;
    /*     
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 2; */
}

.santa__face {
    height: 100%;
    width: 100%;
    background-color: var(--skin);
    border-radius: 100%;
    border-radius: 100% / 100%;
    border-radius: 20% / 100%;
    border-radius: 10% 50% 80% 20%;
    border-radius: 10% 50% 80% 20% / 10% 50% 80% 20%;
    border-radius: 25% 25% 0 0 / 80% 80% 0 0;

    /* align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative; */
}

.santa {
    display: flex;
    justify-content: center;

    /* align-content: flex-start;
    align-items: start;
    flex-wrap: wrap;
    position: relative; */
}

/* 3. Beard */
.santa__beard {
    height: 100%;
    width: 100%;
    background-color: var(--beard);
    border-radius: 50% 50% 50% 50% / 25% 25% 40% 40%;
    position: absolute;
    left: 0;
    top: 80%;
}

.santa__face {
    position: relative;
}

/* 4. Eyes */
.santa__eyes {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.santa__eye {
    background-color: var(--black);
    border-radius: 100%;
    height: 100%;
    margin: 0 2.5%;
    position: relative;
    width: 16%;
}

.santa__eye:after {
    background-color: var(--white);
    border-radius: 100%;
    bottom: 10%;
    content: "";
    display: block;
    height: 30%;
    position: absolute;
    right: 20%;
    width: 40%;
}

.santa__nose {
    height: 25%;
    background-color: var(--nose);
    border-radius: 70% 70% 50% 50% / 80% 80% 50% 50%;
    width: 15%;
}

.santa__face {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.santa__mouth {
    background-color: black;
    border-radius: 0 0 50% 50% / 0 0 60% 60%;
    height: 20%;
    margin: 10% auto 0;
    overflow: hidden;
    position: relative;
    width: 30%;
}

.santa__tounge {
    background-color: var(--red-light);
    border-radius: 50% 50% 0 0/ 60% 60% 0 0;
    height: 50%;
    margin: 10% auto 0;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 80%;
}

/* 5. Cap */
.santa__cap {
    height: 60%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    left: 0;
    bottom: 95%;
    z-index: 1;
}

.santa__cap__belt {
    background-color: white;
    border-radius: 5%/50%;
    height: 50%;
    position: relative;
    width: 100%;
}

.santa__cap__top {
    background-color: var(--red);
    border-radius: 100% 100% 0 0 / 200% 200% 0 0;
    height: 90%;
    overflow: hidden;
    position: relative;
    width: 90%;
}

.santa__tail {
    background-color: red;
    border-radius: 0 100% 0 0;
    height: 70%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: rotate(30deg);
    width: 80%;
    z-index: -1;
}

.santa__bombel {
    background-color: white;
    border-radius: 100%;
    height: 50%;
    position: absolute;
    right: -5%;
    top: 75%;
    width: 15%;
}

.santa {
    position: relative;
    z-index: 2;
}

.santa__cap__belt:after {
    background-color: #f6cfbc;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 30%;
    left: 5%;
    position: absolute;
    width: 90%;
}

.santa__cap__belt::before {
    background-color: white;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    bottom: 100%;
    content: "";
    display: block;
    height: 30%;
    left: 5%;
    position: absolute;
    width: 90%;
}

/* 6. Torso */

.santa__body {
    height: 50%;
    margin-bottom: -10%;
    position: relative;
    width: 100%;
    z-index: 1;
}

.santa__torso {
    background-color: red;
    border-radius: 60% 60% 50% 50% / 90% 90% 15% 15%;
    border-bottom: solid 2vh white;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.santa {
    align-content: flex-start;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.santa {
    z-index: 2;
}

.santa__zip {
    background-color: white;
    height: 105%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: 10%;
}

.santa__belt {
    background-color: black;
    bottom: 20%;
    display: flex;
    height: 10%;
    justify-content: center;
    left: 0;
    position: absolute;
    width: 100%;
}

.santa__belt__clip {
    background-color: black;
    border: solid 0.5vh yellow;
    height: 130%;
    margin-top: -0.5vh;
    position: relative;
    width: 20%;
}

.santa__legs {
    display: flex;
    justify-content: center;
    height: 35%;
    width: 100%;
}

.santa__leg {
    background-color: red;
    height: 100%;
    margin: 0 1%;
    position: relative;
    width: 25%;
}

.santa__leg--right {
    transform: scaleX(-1);
}

.santa__leg:after {
    background-color: red;
    border-radius: 10% 0 0 50% / 50% 0 0 50%;
    content: "";
    display: block;
    height: 100%;
    left: -15%;
    position: absolute;
    top: 0;
    transform: skewX(5deg);
    width: 100%;
}

.santa__shoe {
    background-color: grey;
    height: 40%;
    right: -2%;
    position: absolute;
    top: 80%;
    width: 105%;
    z-index: 1;
}

.santa__shoe:after {
    background-color: black;
    border-radius: 50% 50% 0 0 / 80% 80% 0 0;
    content: "";
    display: block;
    height: 70%;
    right: 0;
    position: absolute;
    bottom: 0;
    width: 130%;
}

.santa__arm {
    background-color: red;
    border-radius: 0 0 50% 50% / 0 0 15% 50%;
    height: 20%;
    position: absolute;
    right: 50%;
    top: 25%;
    transform: rotate(25deg);
    transition: transform 0.3s ease-out;
    width: 80%;
}

.santa__arm--right {
    left: 50%;
    right: initial;
    transform: rotate(-25deg) scaleX(-1);
}

.santa__wrist {
    background-color: white;
    height: 100%;
    margin-top: -2%;
    position: relative;
    width: 10%;
}

.santa__hand {
    background-color: red;
    border-radius: 50% 0 0 50% / 50% 15% 15% 50%;
    height: 65%;
    position: absolute;
    right: 100%;
    top: 5%;
    width: 20%;
}

.santa__finger {
    background-color: red;
    border-radius: 50% 50% 0 0 / 50% 50% 0 0;
    bottom: 95%;
    height: 45%;
    position: absolute;
    right: 0;
    transform: rotate(-10deg);
    width: 35%;
}
